@import "variables.less";
@import "animate/animate.less";

.no-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// main-nav padding to line up with headline
.main-nav {
	padding-top: 20px;
	
	// min-width: Small screen / tablet
	@media (min-width: @screen-sm-min) {
		// on extra-small devices no padding es required
		padding-top: 100px;
	}
}


// tabbed content
.tab {
	display: none;

	&.active {
		display: block;
	}
}

// guests page
.guests-tab {
	table {
		table-layout: fixed;

		th.ipv4 { width: 180px; }
		th.source { width: 100px; }
		th.time { width: 140px; }

		td.no-guests {
			font-style: italic;
			text-align: center;

			background-color: @table-bg-accent;
		}
	}
}

// presets tab
.presets-tab

{
	.no-touch & .longtouch-hint {
		display: none;
	}

	.tile {
		@padding: 20px;

		text-align: center;
		height: 120px;
		margin-bottom: 30px;
		cursor: pointer;

		display: table;

		.no-select();

		.inner {
			display: table-cell;
			vertical-align: middle;

			padding: 0 @padding;

			color: @btn-primary-color;
			background-color: @btn-primary-bg;
			border-radius: @border-radius-base;

			position: relative;
		}

		.no-touch &:hover .delete {
			display: block;
		}

		.delete {
			font-size: 2em;
			position: absolute;
			top: 5px;
			right: 5px;
			display: none;

			.no-touch &:hover {
				text-shadow: 0px 0px 10px white;
			}
		}

		&.create {
			font-style: italic;

			.delete {
				display: none;
			}
		}

		// min-width: Small screen / tablet
		@media (min-width: @screen-sm-min) {
			height: 158px;
		}

		// min-width: Medium screen / desktop
		@media (min-width: @screen-md-min) {
			height: 213px;
		}

		// min-width: Large screen / wide desktop
		@media (min-width: @screen-lg-min) {
			height: 189px;
		}
	}
}

// state tab
.state-tab {
	table {
		table-layout: fixed;

		th.action { width: 25px; }
		th.message div { padding-top: 12px; }
	}
}
